@model RSFC_web.Models.Team

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Team</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Team_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Team_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Managers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Managers.Manager_Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TeamId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
