.background 
{
    font-family: Arial, sans-serif;
    background-color: rgba(0,0,0, 0.8);
    margin: 0;
    padding: 0;
}

.header 
{
    background-color: goldenrod;
    text-align: center;
    padding: 15px;
}

.title {
    font-size: 36px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
    text-align: center;
    padding: 35px;
    margin-bottom: -45px;
}

nav ul 
{
    background-color: white;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li 
{
    display: inline;
    margin-right: 10px;
    margin: 2.5px;
}

.content
{
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: goldenrod;
}

.footer 
{
    background-color: goldenrod;
    text-align: center;
    padding: 10px;
}

table {
    background-color: white;
    width: 500%;
    border-collapse: collapse;
    margin: 10px 0;
}

table, th, td {
    border: 1px solid #ddd;
}

.create-button {
    background-color: green;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 5px;
    cursor: pointer;
    border-radius: 5px;
}

.create-button:hover 
{
    background-color: darkgreen;
    color: white;
}

.edit-button, .detail-button
{
    background-color: dodgerblue; 
    border: none;
    color: white;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 2px;
    cursor: pointer;
    border-radius: 3px;
}

.delete-button 
{
    background-color: red;
    border: none;
    color: white;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 0;
    cursor: pointer;
    border-radius: 3px;
}

.edit-button:hover 
{
    background-color: darkblue;
    color: white;
}

.detail-button:hover 
{
    background-color: darkblue;
    color: white;
}

.delete-button:hover 
{
    background-color: darkred;
    color: white;
}

.carousel-inner
{
    margin-top: 60px;
}