@model RSFC_web.Models.Transaction

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Transaction</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TransactionId" />
            <div class="form-group">
                <label asp-for="Transaction_Fee" class="control-label"></label>
                <input asp-for="Transaction_Fee" class="form-control" />
                <span asp-validation-for="Transaction_Fee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Transaction_Date" class="control-label"></label>
                <input asp-for="Transaction_Date" class="form-control" />
                <span asp-validation-for="Transaction_Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlayerId" class="control-label"></label>
                <select asp-for="PlayerId" class="form-control" asp-items="ViewBag.PlayerId"></select>
                <span asp-validation-for="PlayerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
